/* Container classes */
.container-module {
  background-color: rgba(0, 0, 0, 0.6);
  margin: 3rem auto;
  padding: 3rem;
  max-width: 600px;
  color: white;
}

.module-two {
  background-color: pink;
}

.avatar {
  border-radius: 50%;
}

.decription {
  font-size: 1.4rem;
}

.username {
  color: aqua;
}

.excerpt {
  color: cadetblue;
}
