html {
  font-size: 65.5%;
}

body {
  font-size: 1.6rem;
  background-color: antiquewhite;
  @include default-transition;
}

.my-auto {
  margin-top: auto !important;
}

.h-100 {
  height: 100% !important;
}
