html {
  font-size: $global_font_size;
}

body {
  font-size: $user_agent_font_size;
  background-color: antiquewhite;
  @include default-transition;
}

.my-auto {
  margin-top: auto !important;
}

.h-100 {
  height: 100% !important;
}
